In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
male_data=pd.read_csv(r"C:\Users\PIYUSH\Desktop\gender_male\m_names.csv")

In [3]:
male_data.describe()

          name gender    race
count    14821  14845   14845
unique    8519      1       1
top     deepak      m  indian
freq       135  14845   14845

In [4]:
male_data.dropna(subset=["name"],inplace=True)

In [5]:
male_data.describe()

          name gender    race
count    14821  14821   14821
unique    8519      1       1
top     deepak      m  indian
freq       135  14821   14821

In [6]:
male_data.shape

(14821, 3)

In [7]:
male_data.drop_duplicates(subset=["name"],keep=False,inplace=True)

In [8]:
male_data.describe()

          name gender    race
count     7159   7159    7159
unique    7159      1       1
top     ramdas      m  indian
freq         1   7159    7159

In [9]:
f_data=pd.read_csv(r"C:\Users\PIYUSH\Desktop\gender_female\f_names.csv")

In [10]:
f_data.shape

(15382, 3)

In [11]:
f_data.describe()

         name gender    race
count   15351  15382   15382
unique   6773      1       1
top     pooja      f  indian
freq      346  15382   15382

In [12]:
f_data.isnull().sum()

name      31
gender     0
race       0
dtype: int64

In [13]:
f_data.dropna(subset=["name"],inplace=True)

In [14]:
f_data.drop_duplicates(subset=["name"],keep=False,inplace=True)

In [15]:
f_data.shape

(5578, 3)

In [46]:
import string as st
al=st.ascii_lowercase +"@"
j=-1
ls=[]
for i in male_data.name:
    j+=1
    if(not(i[0] in al)):
        ls.append(j)

In [52]:
import string as st
al=st.ascii_lowercase +"@"
j=-1
ls1=[]
for i in f_data.name:
    j+=1
    if(not(i[0] in al)):
        ls1.append(j)

In [56]:
male_data.drop(male_data.index[ls],inplace=True)

In [63]:
f_data.drop(f_data.index[ls1],inplace=True)

In [64]:
f_data.shape

(5509, 3)

In [116]:
pre=["miss","smt","smt.","st","km","km.","b.","smts.","smts","kum","ku.","d.","km-","km0","kr.","k.","mrs"]
final_f_name=[]
for i in f_data.name:
        if("@" in i):
            ind=i.find("@")
            j=i[:ind]
            raw=j.split()
            if (len(raw) !=1):
                if(raw[0] in pre):
                    final_f_name.append(raw[1])
                else:
                    final_f_name.append(raw[0])
                
            k=i[ind+1:]
            raw_p=k.split()
            final_f_name.append(raw_p[0]) 
        else:
            
            raw_n=i.split()
            if (len(raw) !=1):
                    if(raw_n[0] in pre):
                        final_f_name.append(raw_n[1])
                    else :
                        final_f_name.append(raw_n[0])

In [117]:
pre=["md.","md","har","mohd.","mr."]
p=["@"]
final_m_name=[]
for i in male_data.name:
        if("@" in i):
            ind=i.find("@")
            j=i[:ind]
            raw=j.split()
            if (len(raw) !=1):
                if(raw[0] in pre):
                    final_m_name.append(raw[1])
                else:
                    final_m_name.append(raw[0])
                
            k=i[ind+1:]
            raw_p=k.split()
            final_m_name.append(raw_p[0]) 
        else:
            
            raw_n=i.split()
            if (len(raw) !=1):
                    if(raw_n[0] in pre):
                        final_m_name.append(raw_n[1])
                    else :
                        final_m_name.append(raw_n[0])

In [118]:
final_f_name

['payal',
 'babli',
 'rinki',
 'simran',
 'kavita',
 'pooja',
 'pratibha',
 'doli',
 'chinu',
 'simran',
 'mala',
 'nisha',
 'hamida',
 'priyaki',
 'ranu',
 'rosy',
 'rinukanwr',
 'nandani',
 'roshani',
 'boby',
 'kittu',
 'sweta',
 'reshma',
 'kesnata',
 'rajni',
 'matul',
 'nainshi',
 'mubshshira',
 'sona',
 'poornima',
 'guddi',
 'neelam',
 'priya',
 'sazi',
 'ruzina',
 'seema',
 'kumari',
 'chumki',
 'pooja',
 'virjiniya',
 'saanu',
 'kaushalya',
 'apsana',
 'priti',
 'bharkah',
 'mudsay',
 'chancal',
 'kusuma',
 'sumnesh',
 'zareena',
 'shathi',
 'nimla',
 'sut.',
 'sameem',
 'gudya',
 'meghana',
 'kangana',
 'nazrin',
 'bhatri',
 'mobsheera',
 'mudrika',
 'devi',
 'gytri',
 'kajal',
 'sonali',
 'manpreet',
 'preet',
 'bigan',
 'aman',
 'devi',
 'sabbo',
 'chhabi',
 'bindiya',
 'tara',
 'sarojini',
 'phulkana',
 'krishka',
 'ilema',
 'sahar',
 'rani',
 'gudiya',
 'anita',
 'chand',
 'geeta',
 'kinya',
 'pinu',
 'shikha',
 'asgari',
 'babi',
 'manisha',
 'gyan',
 'biba',
 'vinod',
 'raja',
 'jyoti',
 'paramjeet',
 'aasha',
 'jaya',
 'poonam',
 'madam',
 'jeta',
 'naveena',
 'anu',
 'padma',
 'puja',
 'vinod',
 'subhdra',
 'juhi',
 'krishma',
 'soni',
 'vina',
 'faiziya',
 'noni',
 'shallu',
 'neelam',
 'priyanka',
 'lalita',
 'radha',
 'ninu',
 'pooja',
 'gulabu',
 'kumari',
 'kajal',
 'usha',
 'preeti',
 'preeti',
 'gajala',
 'ranjana',
 'pooja',
 'harsita',
 'mansi',
 'noor',
 'heena',
 'devender',
 'shusila',
 'ameera',
 'munni',
 'shivani',
 'shalu',
 'dhola',
 'vijeta',
 'ku',
 'shagun',
 'madhubala',
 'manju',
 'nureen',
 'vicky',
 'masuma',
 'manju',
 'diksha',
 'yogeshwari',
 'sweta',
 'pinky',
 'rita',
 'safila',
 'robi',
 'gordi',
 'devi',
 'sapna',
 'reena',
 'harshita',
 'komal',
 'kamlesh',
 'simmy',
 'meena',
 'tulsi',
 'smt.sushil',
 'rekha',
 'sonali',
 'manju',
 'munna',
 'maya',
 'ashwani',
 'bhumika',
 'asharani',
 'arsi',
 'munna',
 'ramesh',
 'kanku',
 'varisha',
 'bindu',
 'vandita',
 'jagviri',
 'sangeeta',
 'bhuri',
 'saveena',
 'savita',
 'arshi',
 'julekha',
 'sitara',
 'urvarshi',
 'bahalen',
 'manoj',
 'guni',
 'kali',
 'ankita',
 'savita',
 'shima',
 'saaniya',
 'dixya',
 'raminder',
 'ragni',
 'anju',
 'gaytri',
 'deepanshi',
 'narbda',
 'asmit',
 'kumari',
 'preti',
 'prachi',
 'salina',
 'shasina',
 'vimla',
 'rani',
 'nanu',
 'sunita',
 'gudya',
 'varsha',
 'hunny',
 'sashi',
 'rajshree',
 'sitra',
 'sano',
 'aditi',
 'similata',
 'sabi',
 'anju',
 'sunaina',
 'sonia',
 'nitasha',
 'sushila',
 'neha',
 'deepa',
 'madhuri',
 'amina',
 'manka',
 'manni',
 'priyanka',
 'amasi',
 'chandani',
 'khushbu',
 'bakila',
 'juna',
 'neelam',
 'urwashi',
 'satwanti',
 'namra',
 'dev',
 'twinkal',
 'vakila',
 'saneha',
 'harprit',
 'rubina',
 'gulista',
 'bhavna',
 'birmadevi',
 'simran',
 'sonali',
 'muli',
 'firdosh',
 'asha',
 'soona',
 'sudesh',
 'manormapal',
 'kismat/',
 'sabnam',
 'soniya',
 'ruksher',
 'komal',
 'jully',
 'meenu',
 'tamanna',
 'manju',
 'guddu',
 'soniya',
 'mishbha',
 'simran',
 'veena',
 'sona',
 'hailena',
 'ku',
 'bandana',
 'kumari',
 'mohsina',
 'jomiya',
 'gauri',
 'gopi',
 'jiya',
 'deepti',
 'babbu',
 'moti',
 'pinki',
 'malti',
 'kumari',
 'lalita',
 'huma',
 'muskan',
 'china',
 'sonu',
 'heena',
 'sonu',
 'huma',
 'shannu',
 'taruna',
 'kumkum',
 'hasina',
 'buttr',
 'kumari',
 'doli',
 'mamtha',
 'pramila',
 'lakhsmi',
 'sultana',
 'nidhi',
 'khushbhu',
 'payal',
 'moni',
 'gunjan',
 'suman',
 'resham',
 'yasmin',
 'bhanu',
 'alish',
 'nancy',
 'suhagini',
 'reekha',
 'anandi',
 'prachi',
 'gudiya',
 'lalita',
 'babli',
 'rukmani',
 'rupa',
 'nagma',
 'chandrakala',
 'gila',
 'priya',
 'nehal',
 'sonam',
 'jyoti',
 'mini',
 'rinku',
 'hema',
 'veerwati',
 'shallu',
 'khushbu',
 'khushboo',
 'mandvi',
 'shiva',
 'tripta',
 'deepika',
 'anita',
 'siza',
 'nano',
 'pyari',
 'vandna',
 'sarsawati',
 'chando',
 'shushila',
 'sonali',
 'hazu',
 'khusbu',
 'dwarika',
 'neha',
 'karshana',
 'anjali',
 'komal',
 'ashita',
 'kajal',
 'sunita',
 'kajal',
 'himanshi',
 'muskan',
 'kanchan',
 'simaran',
 'karamjeet',
 'sagandeep',
 'pinki',
 'jaitun',
 'mulina',
 'shumita',
 'zainab',
 'vandhana',
 'kumari',
 'chhoti',
 'kiran',
 'koyali',
 'javuneesha',
 'kismti',
 'khushboo',
 'amritha',
 'priyanka',
 'bindi',
 'shbana',
 'shalu',
 'sahnaz',
 'neelam',
 'lali',
 'versha',
 'kumari',
 'simran',
 'kumari',
 'meeramai',
 'vimla',
 'kumari',
 'rampayari',
 'smt.beena',
 'mnisha',
 'seema',
 'sabhya',
 'chandni',
 'sushma',
 'bitto',
 'khashbu',
 'kamar',
 'banno',
 'prem',
 'sudesh',
 'savita',
 'robhi',
 'ranjana',
 'monika',
 'jyoti',
 'rekha',
 'babita',
 'rubi',
 'manju',
 'chanchal',
 'guddi',
 'amrin',
 'sahana',
 'nisha',
 'tabwsum',
 'rajkumari',
 'manpreet',
 'simran',
 'palvinder',
 'jamna',
 'jamnaa',
 'soni',
 'nisha',
 'roma',
 'anushka',
 'pooja',
 'sapna',
 'jareena',
 'komal',
 'sonu',
 'neraj',
 'devkumari',
 'poonam',
 'ravinder',
 'simmy',
 'neeshu',
 'soni',
 'mahrun',
 'punima',
 'pali',
 'sundri',
 'ashoda',
 'mumtaj',
 'neha',
 'nanu',
 'chanab',
 'garima',
 'munjira',
 'kailash',
 'suman',
 'reena',
 'anil',
 'doli',
 'rahil',
 'radha',
 'neesa',
 'inderjit',
 'sanju',
 'samoti',
 'samiron',
 'murshida',
 'jaya',
 'pooja',
 'mairi',
 'aruna',
 'kasumbi',
 'ravena',
 'neetu',
 'annu',
 'chotti',
 'soni',
 'pooja',
 'shabia',
 'shayba',
 'renu',
 'rinki',
 'farjana',
 'nilesh',
 'kirti',
 'surekha',
 'avastha',
 'kajal',
 'gyattri',
 'vasu',
 'irfan',
 'laxmeena',
 'hema',
 'mooli',
 'kumari',
 'kamla',
 'parmita',
 'majrula',
 'asha',
 'savia',
 'mariam',
 'nisat',
 'simren',
 'taramati',
 'maina',
 'basanta',
 'harmeet',
 'bhawna',
 'muskan',
 'choti',
 'kunti',
 'ritu',
 'heera',
 'sunil',
 'gangajali',
 'sunita',
 'ranju',
 'megha',
 'gudiya',
 'billa',
 'pooja',
 'rati',
 'kamla',
 'bhagoti',
 'manshi',
 'rachna',
 'chander',
 'ruby',
 'ruchika',
 'divya',
 'chhoti',
 'priyanka',
 'rosina',
 'shankuntla',
 'veena',
 'sushhmita',
 'bahwana',
 'rajlaxmi',
 'tara',
 'sonu',
 'mahima',
 'dvndavva',
 'heera',
 'tabbsum',
 'jaismeen',
 'shushree',
 'neelam',
 'neelam',
 'sonu',
 'tinku',
 'sonam',
 'sabbo',
 'bhagwati',
 'aafrin',
 'neha',
 'puspa',
 'manpreet',
 'preet',
 'ranki',
 'vijay',
 'asho',
 'hema',
 'nensi',
 'uganti',
 'kashish',
 'hema',
 'mamta',
 'bhoti',
 'shyamwati',
 'meenu',
 'nazma',
 'nidhi',
 'binny',
 'sobha',
 'khoti',
 'arti',
 'pooja',
 'chanchal',
 'anita',
 'jasvinder',
 'gogi',
 'aanik',
 'nargish',
 'danwati',
 'sanju',
 'aarti',
 'sayari',
 'deepali',
 'tejender',
 'seema',
 'sushree',
 'nitu',
 'kiran',
 'anjali',
 'maya',
 'kum.',
 'surti',
 'farha',
 'riya',
 'pooja',
 'bulbul',
 'jayawanti',
 'khusbu',
 'shabnam',
 'pooja',
 'priya',
 'pinki',
 'minakshi',
 'kallo',
 'meenakshi',
 'manwi',
 'urmila',
 'yamini',
 'hema',
 'ruchi',
 'susila',
 'shabnam',
 'punam',
 'ishrat',
 'usha',
 'minkashi',
 'monti',
 'reena',
 'geeta',
 'geeta',
 'sonia',
 'disi',
 'manju',
 'manjula',
 'pooja',
 'nirmala',
 'ramvati',
 'pinky',
 'sangeeta',
 'kailash',
 'kamni',
 'nishal',
 'chanchal',
 'gaytri',
 'neha',
 'harpreet',
 'geetanjli',
 'shravani',
 'pargati',
 'renu',
 'kanti',
 'satyapal',
 'sandiya',
 'rippi',
 'seema',
 'anisha',
 'sunarkali',
 'saraswati',
 'niraj',
 'chandabai',
 'suman',
 'deu',
 'aanu',
 'rajni',
 'kumari',
 'neeraj',
 'inderjeet',
 'anamkhan',
 'kumari',
 'rafikan',
 'samra',
 'dhanni',
 'diksha',
 'vandana',
 'veeru',
 'vandana',
 'amreeta',
 'pinki',
 'baby',
 'guddu',
 'devki',
 'rajni',
 'manisha',
 'kalpeshwari',
 'kmo',
 'pabu',
 'felicia',
 'soniya,',
 'kamta',
 'kajal',
 'aarti',
 'pooja',
 'shittal',
 'joginder',
 'turveny',
 'prinka',
 'baby',
 'vishavkarma',
 'rinku',
 'yogita',
 'bhawna',
 'radha',
 'chunnu',
 'rajiya',
 'puja',
 'premature',
 'neetu',
 'pooja',
 'sanjoh',
 'kirti',
 'firdosh',
 'kashum',
 'ratani',
 'nargish',
 'pinku',
 'bantu',
 'suma',
 'mema',
 'pinky',
 'mamuni',
 'anjli',
 'sanoshi',
 'ishawar',
 'badru',
 'deepa',
 'salni',
 'gurmit',
 'urmila',
 'aasha',
 'mahi',
 'munasvi',
 'bharti',
 'kajal',
 'neelam',
 'sweety',
 'seema',
 'dholi',
 'neha',
 'gudiya',
 'lutka',
 'ravina',
 'poonam',
 'neha',
 'anu',
 'minakshi',
 'rajo@chanchal',
 'minakshi',
 'kumari',
 'monu',
 'bhuli',
 'nikki',
 'fasrun',
 'nuraish',
 'jyoti',
 'nirutma',
 'priyanka',
 'babita',
 'kirshna',
 'komal',
 'parwati',
 'sulochna',
 'kumari',
 'mjudi',
 'papu',
 'priyanka',
 'parkash',
 'hasina',
 'nasima',
 'kokila',
 'kumari',
 'uma',
 'sukhwanti',
 'sakuntala',
 'kala',
 'yinita',
 'shilu',
 'amirul',
 'nazia',
 'khushboo',
 'kashis',
 'sadhna',
 'sangita',
 'neelam',
 'ravinder',
 'rajni',
 'mona',
 'poonam',
 'reeta',
 'kamla',
 'ruksar',
 'beena',
 'moni',
 'reshu',
 'beby',
 'rekha',
 'makku',
 'muskan',
 'gita',
 'chotu',
 'munny',
 'laxmi',
 'kajal',
 'barkha',
 'madhu',
 'shabana',
 'chinto',
 'chunnu',
 'jyoti',
 'pinki',
 'sulekha',
 'devya',
 'poonam',
 'chanchal',
 'jasina',
 'arti',
 'mithlesh',
 'ankita',
 'geetanjali',
 'nanda',
 'attar',
 'ranjna',
 'pooja',
 'shiena',
 'mamta',
 'khusbu',
 'anupriya',
 'gudiya',
 'chaman',
 'phol',
 'mamta',
 'seema',
 'almola',
 'varsha',
 'neha',
 'rukaiya',
 'juhi',
 'rakhi',
 'pinky',
 'anita',
 'sheetal',
 'soni',
 'jita',
 'huma',
 'kalu',
 'binni',
 'baliya',
 'chanda',
 'seema',
 'gulshan',
 'alkesh',
 'jyoti',
 'priyanka',
 'pritee',
 'soniya',
 'hazara',
 'neetu',
 'khushi',
 'ruhi',
 'kuttal',
 'noni',
 'rajbala',
 'rojmeri',
 'versha',
 'anjana',
 'radhika',
 'lali',
 'ragini',
 'uma',
 'umiya',
 'bhavana',
 'rakhi',
 'diya',
 'doli',
 'richaraj',
 'santu',
 'raunaf',
 'shakina',
 'rajo',
 'tajmaha',
 'arti',
 'phol',
 'sabrin',
 'hemleta',
 'jyoti',
 'narayani',
 'kalpana',
 'minakumari',
 'poonam',
 'pooja',
 'sonam',
 'karishma',
 'sanjali',
 'maya',
 'gudia',
 'sudesh',
 'kamlesh',
 'sonu',
 'madina',
 'kajal',
 'surender',
 'soniya',
 'mona',
 'sonu',
 'sonu',
 'dhandevi',
 'guddi',
 'gudiya',
 'laxmi',
 'khushi',
 'unknown',
 'aarti',
 'golu',
 'brajesh',
 'minashi',
 'prezi',
 'shekh',
 'haliya',
 'naina',
 'sahna',
 'sunita',
 'kumari',
 'ku',
 'sajini',
 'pammy',
 'geeta',
 'monu',
 'madhu',
 'puttan',
 'seema',
 'sapna',
 'shadiya',
 'antim',
 'kanta',
 'sonu',
 'rajinder',
 'raju',
 'tinki',
 'pooja',
 'parsi',
 'komal',
 'karamjeet',
 'sabita',
 'shadna',
 'renu',
 'shivani',
 'jayanti',
 'anjli',
 'kumari',
 'preeti',
 'sonam',
 'sugandha',
 'lavli',
 'manjinder',
 'disha',
 'shika',
 'billu',
 'aachal',
 'aarti',
 'shavani',
 'kehkasa',
 'madhvi',
 'bhiki',
 'deepika',
 'chanpa',
 'soniya',
 'riya',
 'janki',
 'sawariya',
 'pinky',
 'majida',
 'nisha',
 'ansu',
 'mukesha',
 'sukhi',
 'kukki',
 'rinki',
 'rubi',
 'rukhsar',
 'rekha',
 'geeta',
 'meena',
 'momina',
 'devendri',
 'krashna',
 'tulsi',
 'pushpa',
 'tarunnam',
 'neetu',
 'raj',
 'moni',
 'susila',
 'snehlata',
 'pooja',
 ...]